
.about-us-outer{
    min-height:100vh;
    height:auto;
}
.about-motive{
    min-height:320px;
    height:auto;
    background:linear-gradient(340deg,rgb(40, 3, 76),rgb(123, 16, 224));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-motive-content1{
    margin-bottom: 2%;
}
.about-mission-left{
    width: 40%;
    margin-right: 12%;
}
.about-mission-right{
    width: 40%;
    background-image: url(../../assets/about.jpg) ;
    background-size: cover;
    border-radius: 10px;
}
.about-myself-left{
    width: 50%;
    margin-right: 12%;
}
.about-myself-right{
    width:30%;
    background-image: url(../../assets/myself.jpeg);
    background-size: cover;
    border-radius: 10px;
}
.about-button{
    height: 50px;
    width: 220px;
    font-size: 1.2rem;
    border-radius: 10px;
    color:rgb(92, 36, 145);
    font-weight: 600;
}
.about-button:hover{
    color: white;
    background: linear-gradient(340deg,rgb(40, 3, 76),rgb(123, 16, 224)) ;
    cursor: pointer;
}
.about-mission,
.about-myself{
    flex-wrap:wrap;
    gap:40px;
}
/* .about-mission-left,
.about-mission-right,
.about-myself-left,
.about-myself-right{
    margin-right:0;
} */
@media screen and (max-width:1200px){

.about-mission-left,
.about-myself-left{
    width:100%;
}

.about-mission-right,
.about-myself-right{
    width:100%;
    height:280px;
}
.about-motive-content1{
    margin-bottom: 5%;
}

}
@media screen and (max-width:600px){

.about-motive-content p:first-child{
    font-size:2rem !important;
}

.about-motive-content p{
    font-size:1rem !important;
}

.about-button{
    width:100%;
    max-width:260px;
}

}
