.all-blogs{
    padding: 2% 2% 0% 2%;
    display: flex;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #ccc;
  padding: 6px 10px;
  border-radius: 10px;
  width: 70%;
}
.search-container:focus-within{
    border-color: blueviolet;
}

.search-bar {
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
  font-size: 1.3rem;
}

.search-icon {
  color: #666;
}

.select{
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    border: 2px solid #ccc;
    width: 25%;
    background-color: #ebe8e8;
}
.select:focus{
    border-color: blueviolet;
}

.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 2%;
  border-radius: 10px;
  height: auto;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;           
  transition: box-shadow 0.3s ease;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.card:hover .card-img {
  transform: scale(1.08);
}

.card-img{
    height: 250px;
    width: 100%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.4s ease-in-out;
}
.card p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.data-content{
    padding: 16px;
}
.cat-like{
    display: flex;
    justify-content: space-between;
}
.title{
    height: 40px;
}

.title:hover{
    color:rgb(78, 41, 226);
}
.flex{
    display: flex;
    justify-content: space-between;
}
.data-absent{
    height:47.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1400px){
.data{
    grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width:1024px){
.data{
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width:600px){
.data{
    grid-template-columns: 1fr;
    padding:12px;
}
.select{
    font-size: 0.7rem;
}
}
