*{
    margin :0;
    border: 0;
}
.homepage-back{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(D:\program\react\blogs\client\src\assets\homepage-img.avif);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-in{
    height: 90%;
    width: 90%;
}

.navbar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:end;
}
.navbar-first{
    display: flex;
    width:100%;
}
.logo{
    height: 75px;
    width: 70px;
    background-image: url(D:\program\react\blogs\client\src\assets\logo.png);
    background-size:cover;
    margin-right:2% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name{
    height: 75px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
.butt{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{
    background-color: rgb(156, 33, 33);
    height: 60%;
    width: 80%;
    border-radius: 5px;
    font-size: 1.5rem;
}
.but:hover{
    background-color: rgb(201, 39, 39);
    cursor:pointer;
}
.sentence{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items:end;
    margin-bottom: 20%;
}
.sentence-in{
    height: 50%;
    width: 60%;
}
.sent{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.create{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.create-in{
    background-color: orange;
    font-size: 1.3rem;
    margin-top: 2%;
    border-radius: 5px;
}
.create-in:hover{
    background-color: rgb(133, 86, 0);
    cursor: pointer;
}

.footer{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
    height: 23%;
    border-radius: 5px;
    padding: 2%;
}
.foot-name{
    font-size: 1.5rem;
    margin-bottom: 3%;
    color: rgb(149, 147, 147);
    font-weight: 500;
}

.foot-content{
    font-size: 1.1rem;
    color:rgb(149, 147, 147);
    margin-bottom: 0.2%;
}